.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: #FFF;
}

.header, .filter {
  min-height: 64px;
  padding: 2px 24px;
}

.mat-form-field {
  font-size: 14px;
  width: 200px;
  margin-right: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 700px;
}

.mat-headline {
  font-size: 210%;
  line-height: 1.3;
  text-align: center;
  margin-top: 20px;
}

.mat-cell {
  padding: 2px 2px;
}

.ec-heart-eyes, .ec-tada {
  font-size: 180%;
}

@media (max-width: 500px) {
  .filter {
    margin: 0 auto;
  }

  .mat-form-field {
    margin-right: 10px;
    width: 115px;
  }
}

@media (max-width: 325px) {
  .mat-table .ec {
    display: none;
  }

  .mat-headline {
    font-size: 180%;
    margin-top: 14px;
  }
}





